.loginButton, .signupButton {
    margin: 0px 0px 10px 0px;
}

.errorMessage {
    color: red
}

.roundInfoInput {
    border: solid;
    padding: 15px;
    background-color: aliceblue;
}

.title {
    color:white;
}

.leaderboardTable{
    margin-left: auto;
    margin-right: auto;
}